body{
    font-family: Nunito, sans-serif;
    color: #27ee27;
}

header p {
    text-shadow: black 0 2px;
}

h1, h2, h3{
    font-family: NuAsapnito, sans-serif;
    color: #000000;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

nav > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-family: Yellowtail, serif;
    font-size: 30px;
   
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    width: 100%;

}


nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 20px;
    

}

header h1 {
    color: #ffffff;
}

header p {
    margin-bottom: 2em;
}

#Sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970 ;
    color: #fff;
}

#Sobre h2{
    color: #fff;
}

#Sobre h2{
    margin-bottom: 2.4em;
    max-width: 1000px;
}

.botao {
    color: #ffff;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #191970;
    font-size: .9em;
    border-radius: 3px;
}

#Sobre .botao {
    background-color: grey;
    color: black;

}

#Tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#Tecnologias div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.main {
    display: flex;
    flex-direction: column;
}

#Fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Fotos {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    
   
}


.Fotos .divFotos, .divFotos2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Fotos .divFotos2{
    overflow: hidden;
}
.Fotos div{
   align-items: center;
   width:100%;
   height: 600px;
   overflow: hidden;
   border-radius: 2px;
   box-shadow: #000000 0 2px 2px;
}

.Fotos #img1,  #img2,  #img3,  #img4 , #img5,  #img6 {
    width: 100%;
    height: 100%;
    
}

.Fotos img {
    transition:all 0.9s; 
    max-width: 100%;
   
    
}
 
.Fotos img:hover {
    transform: scale(1.6);
}

.Fotos h2 {
    margin-bottom: 20px;
}

.Fotos img {
    width: 100%;
}

#Contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#Contato h2 {
    color: #000000;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #ffff;
}

footer a {
    text-decoration: none;
    color: #00ffff;
}


@media screen and (min-width: 768px){

    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }

    header {
        height: 400px;
        height: 80vh;
        justify-content: center;
    }

    #Sobre {
        height: 250;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    #Tecnologias {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #Tecnologias h2 {
        text-align: center;
        width: 100%;
    }

    #Tecnologias div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

    .Fotos {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
   
    
    .Fotos h2 {
        width: 100%;
        text-align: center;
    }

    .Fotos img{
        width: 33.3333333%;
    }


    #Contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #Contato  h2, #Contato p{
       width: 100%;
    }

}

@media screen and (max-width: 425px){

 .Fotos .main .divFotos, .Fotos .main .divFotos2{
        flex-direction: column;
        width: 90%;
        height: 1000px;
 }

 #div6 {
     margin-bottom: 10px;
 }


}